- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
  become: yes

- name: Ensure nginx is started and enabled
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes
  become: yes

- name: Remove default nginx site
  ansible.builtin.file:
    path: /var/www/html/index.nginx-debian.html
    state: absent
  become: yes

- name: Deploy custom HTML page
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'
  become: yes
  notify: Reload nginx

- name: Ensure nginx is running
  ansible.builtin.service:
    name: nginx
    state: started
  become: yes
